<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title *ngIf="comentarii.length > 0">
      Comentarii (ultimele {{comentarii.length}} comentarii)
    </mat-panel-title>
    <mat-panel-title *ngIf="comentarii.length == 0">
      <div [froalaView] style="padding-top: 4%">
        <p>Nu au fost postate comentarii inca&nbsp;<span class="fr-emoticon fr-deletable fr-emoticon-img" style="background: url(https://cdnjs.cloudflare.com/ajax/libs/emojione/2.0.1/assets/svg/1f614.svg);">&nbsp;</span>&nbsp;</p>
      </div>
    </mat-panel-title>
    <mat-panel-description>

    </mat-panel-description>
  </mat-expansion-panel-header>

  <div *ngFor="let comentariu of comentarii">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar ><img style="width: 40px" class="avatar-img" src="{{comentariu.autor.avatarURL}}" alt="Italian Trulli"></div>
        <mat-card-title><b>{{comentariu['autor']['prenume']}} {{comentariu['autor']['nume']}}</b>
          <span class="pull-right" style="margin-top: 0.3%; margin-left: 1%; color: rgba(0,0,0,.54);"> {{ comentariu.dataAdaugare  | date:'dd MMMM yyyy - HH:mm' }}</span>
          <mat-icon class="pull-right">access_time</mat-icon>
        </mat-card-title>
        <mat-card-subtitle>
          a comentat:
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div [froalaView]="comentariu['comentariu']">
        </div>
      </mat-card-content>
    </mat-card>
    <br>
  </div>
</mat-expansion-panel>



