<mat-toolbar color="primary" style="position: fixed; z-index: 100">
  <mat-toolbar-row>
    <span class="example-fill-remaining-space"></span>
    <button mat-button  class="nav-link" routerLink="/" mat-button><mat-icon>home</mat-icon> ECs Wiki</button>
  <!--  <button mat-button  class="nav-link" routerLink="/documente" mat-button *ngIf="this.userService.isUserLoggedIn()">Lulus!</button>-->

    <form class="example-form" style="margin-top: 0.4%;" (ngSubmit)="onSubmit(searchForm.value)" #searchForm="ngForm" *ngIf="this.userService.isUserLoggedIn()">
      <mat-form-field style="width: 125%">
        <input (change)="updateSearchText()"  [(ngModel)]="searchText" name="searchText" matInput placeholder="Cauta postari">
      </mat-form-field>
      <button mat-button type="submit">Cauta</button>
    </form>

    <span class="example-fill-remaining-space"></span>

    <button mat-button [matMenuTriggerFor]="menu" *ngIf="this.userService.isUserLoggedIn()"><mat-icon>person</mat-icon> {{ this.userService.getCurrentUser().firstName + ' ' + this.userService.getCurrentUser().lastName}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Setari cont</button>
      <button mat-menu-item>Preferinte</button>
      <button mat-menu-item (click)="logOut()">Log out</button>
    </mat-menu>
    <span class="example-fill-remaining-space"></span>
    </mat-toolbar-row>
 </mat-toolbar>


